/* Kilas Berita */
#kilas-berita.container-fluid {
    background-color: #45678d;

    .row {
        color: #fff;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .headline {
        position: relative;
        background-color: #27af89;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 80px;
        color: #fff;
        font-weight: 700;

        @media (min-width: 768px) {
            position: absolute;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    .headline-info {
        background-color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        color: #000;
        font-weight: 600;

        @media (min-width: 768px) {
            padding-left: 230px;
        }

        @media (min-width: 1200px) {
            padding-left: 300px;
        }
    }

    #triangle-left {
        position: absolute;
        z-index: 1;
        right: 3%;
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 20px solid #45678d;
        border-bottom: 15px solid transparent;

        @media (min-width: 768px) {
            left: 197px;
            border-top: 15px solid transparent;
            border-right: 20px solid #fff;
            border-bottom: 15px solid transparent;
        }

        @media (min-width: 992px) {
            left: 196px;
            border-top: 15px solid transparent;
            border-right: 20px solid #fff;
            border-bottom: 15px solid transparent;
        }
    }

    #triangle-right {
        position: absolute;
        top: 0;
    	width: 0;
    	height: 0;
        right: 33px;
    	border-top: 15px solid transparent;
    	border-left: 20px solid #fff;
    	border-bottom: 15px solid transparent;

        @media (min-width: 768px) {
            border-top: 15px solid transparent;
            border-left: 20px solid #fff;
            border-bottom: 15px solid transparent;
            right: -22px;
        }

        @media (min-width: 992px) {
            border-top: 15px solid transparent;
            border-left: 20px solid #fff;
            border-bottom: 15px solid transparent;
        }

        @media(min-width:1024px) {
            right: -31px;
        }


        @media(min-width:1200px) {
            right: 17px;
        }

        @media(min-width:1300px) {
            right: 33px;
        }

        @media(min-width:1400px) {
            right: 48px;
        }
    }

    /* Carousel Pengumuman */
    #carousel-pengumuman {
        width: 100%;
        background-color: #fff;
        color: #000;

        @media(min-width:768px) {
            margin-left: 200px;
            width: 70%;
        }

        @media(min-width:992px) {
            width: 80%;
        }
    }

    #carousel-pengumuman .item {
        height: 70px;
        padding-top: 5px;
        padding-left: 20px;
        color: #000;
        font-weight: 700;

        @media(min-width: 768px) {
            height: 30px;
        }
    }

    .carousel-control {
        opacity: 1;
    }

    #carousel-pengumuman .carousel-control.left {
        margin-left: 20px;

        @media(min-width:768px) {
            margin-left: 0px;
        } 
    }

    #carousel-pengumuman .carousel-control.right {
        margin-right: 20px;

        @media(min-width:768px) {
            margin-right: 0px;
        } 
    }

    #carousel-pengumuman .carousel-control.left,
    #carousel-pengumuman .carousel-control.right {
        width: 0px;
        background-image:none !important;
        filter:none !important;
        color: $brand-primary;
    }

    #carousel-pengumuman .carousel-control.left span,
    #carousel-pengumuman .carousel-control.right span {
        margin-top: -7px;
        font-size: 12px;
    }
}
