/* Beranda Pusat Organisasi */

/* Video Artikel */

/*  Membuat kolom video & artikel sama tinggi
    http://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height
*/
#video-artikel {
    margin-bottom: 20px;

    @media(min-width: 768px){
        margin-bottom: 0px;
    }
}

#video-artikel.row {
    overflow: hidden;

    @media(min-width:768px){
       margin-bottom: 20px;
        margin-top: 20px;
        margin-left: 65px;
        margin-right: 65px;
    }
}

#video-artikel.row [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

#video-artikel .video-artikel-box {
    background-color: #fff;
    padding: 10px;
}

/* Video */
#video .youtube-title {
    color: $brand-primary;
    font-weight: 700;
    text-align: center;
}

/* Video Carousel */
#video #carousel-video {
    margin-bottom: 20px;
    margin-top: 10px;
}

#video #carousel-video .carousel-inner img {
    display: inline;
    border: 2px solid #fff;
    width: 30%;

    @media(min-width:360px) {
        width: 100px;
    }

    @media(min-width: 992px) {
        width: 30%;
    }

    @media(min-width: 1100px) {
        width: 100px;
    }
}

#video #carousel-video .carousel-control {
    opacity: 1;
    margin-top: 20px;
}

#video #carousel-video .carousel-control.left,
#video #carousel-video .carousel-control.right {
    background-image:none !important;
    filter:none !important;
    text-shadow: none;
    color: #7b7b7b;
    font-weight: 400;
    font-size: 14px;
}

#video #carousel-video .carousel-control.left {
    margin-left: -20px !important;

    @media(min-width:400px) {
        margin-left: 0;
    }
}

#video #carousel-video .carousel-control.right {
    margin-right: -20px !important;

    @media(min-width:400px) {
        margin-right: 0;
    }
}

#video #carousel-video .carousel-inner .item {
    text-align: center;
}

#video #carousel-video .carousel-inner .item img.active {
    border: 2px solid $brand-primary;
}

#video .index-video {
    color: $brand-primary;
    text-decoration: underline;
    text-align: center;
}


/* Artikel */
#artikel {
    padding-left: 0;

    @media (min-width:768px){
        width: auto;
    }

    @media(min-width:992px){
        margin-left: 10px;
        width: 65.5%;
    }
}

#artikel .title-box {
    @media(min-width:768px) {
        margin-top: 10px;
    }

    @media(min-width:992px) {
        margin-top: 0;
    }
}

#artikel .artikel-body .title {
    color: $brand-primary;
    font-weight: 700;
}

#artikel .artikel-body .subtitle {
    color: $brand-primary;
    font-weight: 400;
}

#artikel .artikel-body .date {
    color: #ccc;
    font-size: 12px;
}

#artikel .divider {
    border: 1px solid #969696;
}

#artikel .artikel-img {
    width: 100%;

    @media (min-width: 992px) {
        max-height: 155px;
    }

    @media(min-width: 1100px) {
        max-height: 195px;
    }

    @media(min-width:1200px) {
        max-height: 195px;
    }

    @media(min-width:1300px) {
        max-height: 210px;
    }

    @media(min-width:1400px) {
        max-height: 225px;
    }
}

/* Carousel Artikel */
#artikel #carousel-artikel {
    margin-bottom: 20px;
    margin-top: -4px;
}

#artikel #carousel-artikel .carousel-inner img {
    display: inline;
    border: 2px solid #fff;
    width: 30%;

    @media(min-width:360px) {
        width: auto;
    }

    @media(min-width: 992px) {
        width: 30%;
    }

    @media(min-width:1100px) {
        width:auto;
    }
}

#artikel #carousel-artikel .carousel-control {
    opacity: 1;
    margin-top: 20px;
}

#artikel #carousel-artikel .carousel-control.left,
#artikel #carousel-artikel .carousel-control.right {
    background-image:none !important;
    filter:none !important;
    text-shadow: none;
    color: #7b7b7b;
    font-weight: 400;
    font-size: 14px;
}

#artikel #carousel-artikel .carousel-control.left {
    margin-left: -20px !important;

    @media(min-width:400px) {
        margin-left: 0;
    }
}

#artikel #carousel-artikel .carousel-control.right {
    margin-right: -20px !important;

    @media(min-width:400px) {
        margin-right: 0;
    }
}

#artikel #carousel-artikel .carousel-inner .item {
    text-align: center;
}

#artikel #carousel-artikel .carousel-inner .item img.active {
    border: 2px solid #f6ed24;
}

/* Artikel Mobile */
#artikel-mobile {

    .no-gutter {
        padding-left: 5px;
        padding-right: 5px;
    }

    .artikel-mobile-divider {
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
    }

    .title {
        color: $brand-primary;
        font-weight: 700;
        margin-top: -10px;
    }

    .title a {
        font-size: 10px;

        @media (min-width: 360px) {
            font-size: 12px;
        }

        @media (min-width: 400px) {
            font-size: 14px;
        }
    }

    .date {
        color: #222;
        font-size: 10px;

        @media (min-width: 360px) {
            font-size: 12px;
        }
    }
}


/* Collapse */
#collapse.row {

    #info-umum,
    #info-pendukung,
    #agenda-kegiatan {
        padding-left: 0;
        padding-right: 0;
    }

    @media (min-width:768px) {
        margin-left: 50px;
        margin-right: 50px;

        #info-umum,
        #info-pendukung,
        #agenda-kegiatan {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

#collapse .collapsible-box {
    margin-bottom: -17px;

    @media(min-width:768px){
        margin-bottom: 0;
    }
}

/* Collapse panel */
#collapse .panel,
#collapse .panel .panel-heading {
    border: 0;
    border-radius: 0;
    width: 100%;
}

#collapse .panel .panel-body  {
    max-height: 240px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#collapse .panel .panel-heading .panel-title {
    padding: 10px;
}

#collapse .panel .panel-heading .panel-title .pull-left {
    color: #fff;
    font-weight: 700;

    @media(min-width: 768px) {
        margin-left: -20px;
    }

    @media(min-width: 992px) {
        margin-left: 0px;
    }
}

#collapse .panel .panel-heading {
    background-color: #45678d;
    border-left: 10px solid #27af89;
}

#collapse .panel .panel-heading i {
    color: #fff;
}

#collapse .panel .panel-body {
    padding: 0;
    padding-top: 20px;
}

#collapse .subpanel .panel-body  {
    overflow-y: hidden !important;
}

#collapse .subpanel .panel .panel-heading {
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ccc;
}

#collapse .subpanel .panel .panel-heading i {
    color: #000;
}

#collapse .subpanel .panel .panel-body {
    padding-top: 10px;
    padding-left: 40px;
}

#collapse .subpanel .panel .panel-heading .panel-title {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
}

/* Collapse Agenda Kegiatan */
#collapse #agenda-kegiatan .row {
    @media (min-width: 768px) {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

#collapse #agenda-kegiatan .title {
    font-weight: 600;
    text-align: center;
    margin-top: 30px;

    @media (min-width: 768px) {
        text-align: left;
    }
}

/* Collapse2 */
#collapse2.row {
    margin-bottom: -20px;

    #buletin-kiprah,
    #infografis,
    #link-terkait,
    #aplikasi {
        padding-left: 0px;
        padding-right: 0px;
    }

    @media (min-width:768px) {
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 20px;

        #buletin-kiprah,
        #infografis,
        #link-terkait,
        #aplikasi {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

#collapse2 .title {
    padding: 15px;
    border-left: 10px solid #27af89;
    background-color: #45678d;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}

#collapse2 #buletin-kiprah .carousel,
#collapse2 #infografis .carousel {
    margin-top: -10px;
}

#collapse2 #buletin-kiprah .carousel .carousel-inner img,
#collapse2 #infografis .carousel .carousel-inner img {
    height: 200px;

    @media(min-width:768px){
        height: 200px;
    }

    @media(min-width:992px){
        height: 300px;
    }
}

#collapse2 #link-terkait .link-row {
    background-color: #fff !important;
    margin-top: -10px;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 10px;

    @media(min-width:768px){
        height: 152px;
    }

    @media(min-width:992px){
        height: 155px;
    }
}

#collapse2 #link-terkait .info {
    color: #ccc;
    font-size: 14px;
    text-align: center;
}

#collapse2 #aplikasi .aplikasi-box {
    background-color: #fff;
    height: auto;
    padding: 10px;

    @media(min-width:768px) {
        margin-top: -10px;
    }
}

#collapse2 #aplikasi .aplikasi-box .aplikasi-img {
    margin-bottom: 10px;
}

@media(min-width:768px){
    #collapse2 #link-terkait,
    #collapse2 #aplikasi {
        margin-top: 20px;
    }
}

@media(min-width:992px){
    #collapse2 #link-terkait,
    #collapse2 #aplikasi {
        margin-top: 0px;
    }
}
