/* Index Berita */

#slider-index-berita.container-fluid {
    border-top: 4px solid #eeae16;

    #bendera {
        background-image: url("../img/slider/bendera.png");
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #bendera h2 {
        color: #fff;
        text-transform: uppercase;
        text-align: center;
        font-weight: 700;
        font-size: 60px;
    }

    #slide-img img {
        height: 176px;
        width: 100%;
    }
}

/* Profil & Artikel */
#profil-artikel {
    margin-top: 20px;
    margin-bottom: 20px;

    #profil-berita,
    #artikel {
        padding-left: 0px;
        padding-right: 0px;
    }

    @media (min-width:768px) {
        margin-left: 50px;
        margin-right: 50px;

        #profil-berita,
        #artikel {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

#profil-artikel .collapsible-box {
    margin-bottom: -17px;

    @media(min-width:768px){
        margin-bottom: 0;
    }
}

/* Accordion Profil */
#profil-artikel #accordionProfil .panel,
#profil-artikel #accordionProfil .panel .panel-heading {
    border: 0;
    border-radius: 0;
}

#profil-artikel #accordionProfil .panel .panel-heading .panel-title {
    padding: 10px;
}

#profil-artikel #accordionProfil .panel .panel-heading .panel-title .main-title {
    color: #fff;
    font-weight: 700;

    @media(min-width: 768px) {
        margin-left: -20px;
    }

    @media(min-width: 992px) {
        margin-left: 0px;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

#profil-artikel #accordionProfil .panel .panel-heading {
    background-color: #45678d;
    border-left: 10px solid #27af89;
}

#profil-artikel #accordionProfil .panel .panel-heading i {
    color: #fff;
}

#profil-artikel #accordionProfil .panel .panel-body {
    padding: 0;
    padding-top: 20px;
}

#profil-artikel #accordionProfil .panel .panel-body ul li {
    margin: 20px;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

#profil-artikel #accordionProfil .panel .panel-body ul li a {
    color: #000;
}

#profil-artikel #accordionProfil .subpanel .panel-body  {
    overflow-y: hidden !important;
}

#profil-artikel #accordionProfil .subpanel .panel .panel-heading {
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ccc;
}

#profil-artikel #accordionProfil .subpanel .panel .panel-heading i {
    color: #000;
}

#profil-artikel #accordionProfil .subpanel .panel .panel-body {
    padding-top: 10px;
    margin-left: 40px;
}

#profil-artikel #accordionProfil .subpanel .panel .panel-heading .panel-title {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
}

/* Accordion Berita Terkini */
#profil-artikel #accordionBerita .panel,
#profil-artikel #accordionBerita .panel .panel-heading {
    border: 0;
    border-radius: 0;
}

#profil-artikel #accordionBerita .panel .panel-body  {
    max-height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#profil-artikel #accordionBerita .panel .panel-heading .panel-title {
    padding: 10px;
}

#profil-artikel #accordionBerita .panel .panel-heading .panel-title .pull-left {
    color: #fff;
    font-weight: 700;

    @media(min-width: 768px) {
        margin-left: -20px;
    }

    @media(min-width: 992px) {
        margin-left: 0px;
    }
}

#profil-artikel #accordionBerita .panel .panel-heading {
    background-color: #45678d;
    border-left: 10px solid #27af89;
}

#profil-artikel #accordionBerita .panel .panel-heading i {
    color: #fff;
}

#profil-artikel #accordionBerita .panel .panel-body {
    padding: 0;
    padding-top: 20px;
}

#profil-artikel #accordionBerita .subpanel .panel-body  {
    overflow-y: hidden !important;
}

#profil-artikel #accordionBerita .subpanel .panel .panel-heading {
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #ccc;
}

#profil-artikel #accordionBerita .subpanel .panel .panel-heading i {
    color: #000;
}

#profil-artikel #accordionBerita .subpanel .panel .panel-body {
    padding-top: 10px;
    padding-left: 40px;
}

#profil-artikel #accordionBerita .subpanel .panel .panel-heading .panel-title {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
}

/* Artikel */
#profil-artikel #artikel {
    background-color: #fff;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;

    @media (min-width:992px) {
        margin-left: 0px;
        margin-right: 0px;
    }
}

/* Galeri Foto */
#profil-artikel #artikel .body {
    margin-top: 20px;
}

#profil-artikel #artikel .galeri-foto {
    margin: 0;
    margin-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
}

#profil-artikel #artikel .galeri-meta {
    color: $brand-primary;
    margin-top: 20px;
    margin-bottom: 0;

    @media(min-width:768px) {
        margin-top: 0px;
    }
}

#profil-artikel #artikel .galeri-heading {
    font-weight: 700;
    color: $brand-primary;
    margin-top: 0;
}

#profil-artikel #artikel .description {
    margin-top: -10px;
    font-size: 12px;
}


#profil-artikel #artikel .title {
    color: $brand-primary;
    font-weight: 700;
}

#profil-artikel #artikel .divider {
    border-color: #ffe688;
    width: 100px;
    border-width: 2px;
    margin: 0;
}

#profil-artikel #artikel .date  {
    margin-top: 20px;
    margin-bottom: 50px;
    color: #ccc;
    font-size: 12px;
}

#profil-artikel #artikel .date .pull-right a img {
    display: inline;
}

#profil-artikel #artikel .body {
    margin-bottom: 50px;
}

#profil-artikel #artikel .body .image img {
    margin-top: 20px;
    margin-bottom: 20px;
}

#profil-artikel #artikel .body .indent {
    margin-left: 50px;
}

#profil-artikel #artikel .body .sumber {
    margin-top: 50px;
}

#profil-artikel #artikel a.btn-download {
    background-color: $brand-primary;
    color: #fff;
    font-weight: 700;
    border-radius: 0;
}

#profil-artikel #artikel .body .share {
    margin-top: 30px;
}

#profil-artikel #artikel .body .share p {
    color: #595959;
    font-weight: 600;
}

#profil-artikel #artikel .body .share p a img {
    display: inline;
    margin-left: 10px;
}
