Options -Indexes
<IfModule mod_rewrite.c>
    RewriteEngine on
	RewriteCond $1 !^(index\.php|resources|robots\.txt)
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
# END W3TC Skip 404 error handling by WordPress for static files
